h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #645f78;
  font-weight: bold;
  font-size: 35px;
}
img.src {
  font-size: 10px;
}

.weather-forecast {
  max-width: 600px;
  margin: 0 auto;
  padding 15px;

}
