body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(../images/this_is.jpg);
  background-size: cover;
}

h1 {
  color: #1a284b;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 618px;
  font-size: 24px;
}
h2 {
  color: #1a284b;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  font-size: 24px;
}

p {
  max-width: 650px;
  margin: 0 auto;
  padding: 15px;
}

ul {
  margin: 0 auto;
  padding-bottom: 35px;
}

li {
  list-style: none;
  text-align: right;
  margin-right: 30px;
  color: #1a284b;
}

.col-9 strong {
  color: #1a284b;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  font-size: 24px;
}

.container {
  border: 5px solid #cac8ca;
  max-width: 650px;
  margin: 0 auto;
  text-transform: capitalize;
  padding: 25px;
  color: #1a284b;
}

.today,
.skies {
  color: #1a284b;
  font-weight: 100px;
  width: 618px;
  font-size: 15px;
}
